{% extends "base.html" %}

{% load static %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron-section">
    <div class="row jumbotron-container">
        <div class="col-12">
            <div class="jumbotron text-center jumbotron-content">
                <h3 class="pt-1 text-white text-uppercase">Welcome to Diverspect!</h3>
                <h4 class="text-white">The home of inclusivity</h4>
                <h2>
                    <a href="{% url 'forum' %}" class="display-4 headline-links forum-btn btn btn-lg text-uppercase text-white">
                        Forum
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}