{% extends "base.html" %}

{% load static %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron-section"> 
    <div class="row jumbotron-container">
        <div class="col-12">
            <div class="jumbotron text-center jumbotron-content">
                <h5 class="pt-1">Welcome to Diverspect!</h5>
                <p>The home of inclusivity!</p>
                <h2>
                    <a href="{% url 'forum' %}" class="display-4 headline-links btn btn-lg text-uppercase">
                        Forum
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}