<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="contant-wrapper col-10 offset-1 col-md-8 offset-md-2 mt-3 mb-5 border border-2">
        <h1 class="text-uppercase mt-3">Profile</h1>
        <section>
            <div class="container mb-3">
                <div class="profile-container text-center">
                    <img src="https://images.pexels.com/photos/4100717/pexels-photo-4100717.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="profile image" class="rounded-circle d-block mb-3" style="margin: 0 auto;">
                    <h3><span>User Name: </span><span>Jane</span></h3>
                    <p>Email Address: <span class="border border-1">myemail@gamil.com</span></p> 
                </div>
                <br>
                <div class="status-area d-flex d-flex justify-content-evenly">
                    <button type="button" class="btn btn-success position-relative">
                        View Posts <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99
                            <span class="visually-hidden">New Posts</span></span>
                    </button>
                    <button type="button" class="btn btn-secondary" style="background-color: #235fa4;">Edit</button>
                    <button type="button" class="btn btn-secondary" style="background-color: #ff4242;">View</button>



                </div>


            </div>
    </div>

    </section>


</body>

</html>