{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="contant-wrapper col-10 offset-1 col-md-8 offset-md-2 mt-3 mb-5 border border-2">
        <h1 class="text-uppercase mt-3">Profile</h1>
        <section>
            <div class="container mb-3">
                <div class="profile-container text-center">
                    <img src="https://images.pexels.com/photos/4100717/pexels-photo-4100717.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="profile image" class="rounded-circle d-block mb-3" style="margin: 0 auto;">
                    <h3><span>{{ user.username | title }}'s Profile</span></h3>
                    <p>Email Address: <span class="border border-1">{{ user.email }}</span></p> 
                </div>
                <br>
                <div class="status-area d-flex d-flex justify-content-evenly">
                    <button type="button" class="btn btn-success position-relative">
                        View Posts <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99
                            <span class="visually-hidden">New Posts</span></span>
                    </button>
                    <button type="button" class="btn btn-secondary" style="background-color: #235fa4;">Edit</button>
                    <button type="button" class="btn btn-secondary" style="background-color: #ff4242;">View</button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}