{% extends "base.html" %}

{% load static %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="contant-wrapper col-10 offset-1 col-md-8 offset-md-2 mt-5 mb-5 border border-2">
    <h1 class="text-uppercase">Edit {{ forum.forum_name }}</h1>
        <section>
            <div class="container mb-3">
                <form method="POST" action="{% url 'edit_forum' forum.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in add_forum_form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn rounded-5 link-button" href="{% url 'forum_comments' forum.id %}">Cancel</a>
                        <button class="btn rounded-5 continue-button" type="submit">Edit Forum</button>
                    </div>
                </form>           
            </div>
        </section>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
        <!-- Current Image JS -->
        {% include 'forum/includes/js/current_image_js.html' %}
{% endblock %}