{% extends "base.html" %}

{% load static %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <section>
        <h2 class="title">All Forums</h2>
        <hr>
        {% for forum in forum %}
        <div class="grid">
            <div class="spaced-between-row">
                <a href="{% url 'forum_comments' forum.id %}" class="name-link">
                    <h2 class="subtitle">{{ forum.forum_name }}</h2>
                </a>
                <span class="follow-icon"><a href=""><i class="fas fa-plus-circle"></i> Follow</a></span>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% if forum.image %}
                            <img class="card-img-top img-fluid blog border-blue" src="{{ forum.image.url }}" alt="{{ forum.forum_name }}">
                    {% else %}
                            <img class="card-img-top img-fluid blog border-blue" src="{{ MEDIA_URL }}noimage.png" alt="{{ forum.forum_name }}">
                    {% endif %}
                    <p>
                        {{ forum.forum_description }}
                    </p>
                </div>
            </div>
            <div class="grid">
                <div class="row">
                    <div class="col-md-10 green-icon">
                        <a href="{% url 'forum_comments' forum.id %}" class="name-link">
                            <span><i class="fas fa-comment-dots"></i>Add Comment</span>
                        </a>
                    </div>
                    <div class="col-md-1 orange-icon">
                        <span><a href=""><i class="fas fa-pause-circle"></i></a></span>
                    </div>
                    <div class="col-md-1 blue-icon">
                        <span><a href=""><i class="fas fa-play-circle"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <!-- Back To Top Button -->
    <div class="to-top-button shadow-sm rounded-5 border">
        <a class="to-top-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
        <!-- Back To Top Button JS -->
        {% include 'forum/includes/js/back_to_top_js.html' %}
{% endblock %}