<!-- Shop Dropdown -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto nav-links">
        <li class="nav-item d-block d-lg-none">
            <a class="link-button nav-link-size nav-link mr-5 text-white font-weight-bold" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="link-button nav-link-size nav-link mr-5 text-white font-weight-bold" href="{% url 'forum' %}" id="all-blogs-link">
                FORUM
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="link-button nav-link-size nav-link mr-5 text-white font-weight-bold" href="{% url 'account_login' %}" id="all-blogs-link">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="link-button nav-link-size nav-link mr-5 text-white font-weight-bold" href="{% url 'account_signup' %}" id="all-blogs-link">
                Register
            </a>
        </li>
        {% endif %}
    </ul>
</div>